{%  extends 'base.html' %}
{% load static %}
{% block content %}
    {% load plotly_dash %}
<h1>Dashboard</h1>

    {% if user.is_authenticated %}
    {% if user.username == 'armonia_amministrazione' %}
    <div class="{% plotly_class name='Armonia' %} card" style="height: 100%; width: 100%">
    {% plotly_app name='Armonia' ratio=0.65 %}
    </div>

<br>
    {% else %}
    <div class="{% plotly_class name='ArmoniaUtente' %} card" style="height: 100%; width: 100%">
        {% plotly_app name='ArmoniaUtente' ratio=0.65 %}
    </div>
    {% endif %}
    {% endif %}
{% endblock %}