        <section class="page-section" id="contact">
            {% load static %}
            <style>
            page-section.masthead {
              padding-top: 10.5rem;
              padding-bottom: 6rem;
              text-align: center;
              color: #fff;
              background-image: url("../assets/img/header-bg.jpg");
              background-repeat: no-repeat;
              background-attachment: scroll;
              background-position: center center;
              background-size: cover;
            }
            div { text-align: center; }
            </style>
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>

                <form id="contactForm" method="post">
                    {% csrf_token %}

                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="text-center">
                            <div class="form-group">
                                <!-- Name input-->

                                {{ form.search_name }}
                                    </div>
                                </div>
                            <div class="form-group">
                                {{ form.pasto }}
                                </div>
                            <div class="form-group">
                                {{ form.data }}
                                    </div>
                            <div class="form-group">
                                {{ form.qty }}
<!--                                {{ form.char_field_with_list }}-->
<!--                                {{ form.pasto }}-->
<!--                                {{ form.data }}-->
                            </div>


                        </div>

                    </div>




                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
                    {% if messages %}
                    {% for element in insieme %}
                        <li>{{ element }}</li>
                    {% endfor %}
                    {% endif %}

                </form>
            </div>
        </section>
        <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script><!--dropdown-item-->
        <a class="btn btn-primary btn-xl text-uppercase" href="" data-toggle="modal" data-target="#logoutModal"><!-- href="#" data-toggle="modal" data-target="#logoutModal"-->
                  <i class="fas fa-pizza-slice fa-sm fa-fw mr-2 text-gray-400"></i>
                  Inserisci alimento
                </a>
        <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Aggiungi un alimento</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="contactForm2" method="post">
                    {% csrf_token %}
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                {{ form.search_name }}
                                </div>
                            <div class="form-group">
                                {{ form.pasto }}
                                </div>
                            <div class="form-group">
                                {{ form.data }}
                                    </div>
                            <div class="form-group">
                                {{ form.qty }}
                            </div>


                        </div>

                    </div>

<!--                    &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton2" type="submit">Send Message</button></div>-->
<!--                    {% if messages %}-->
<!--                    {% for element in insieme %}-->
<!--                        <li>{{ element }}</li>-->
<!--                    {% endfor %}-->
<!--              {% endif %}-->

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton2" type="submit">Send Message</button>
<!--          <a class="btn btn-primary" href="/logout">Logout</a>&lt;!&ndash;/admin/logout/&ndash;&gt;-->
        </div>
              </form>
            </div>
        </section>
        </div>
      </div>
    </div>
  </div>

         <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>